.App {
    background-color: #E6E6FA;
}

.App-header {
    background-color: white;
    height: 50px;
    padding: 20px;
    border-style: groove;
    border-width: 2px 4px 4px 10px;
}

.App-Body {
    height: 550px;
    background-color: #E6E6FA;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text], [type=number], [type=file], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.btn-success {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-success:hover {
    background-color: #45a049;
}
.btn-update {
    background-color: deepskyblue;
    color: white;
    padding: 5px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-update:hover {
    background-color: dodgerblue;
}
.btn-delete {
    background-color: firebrick;
    color: white;
    padding: 5px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 3px;
}

.btn-delete:hover {
    background-color: darkred;
}

.App-Footer {
    background-color: #222;
    height: 20px;
    padding: 20px;
    color: white;

}

.App-icon {
    height: 100%;
    width: 10%
}

.App-form {
    float: left;
    width: 40%;
    padding: 1%;
}


.add-article {
    background-color: white;
    margin: 5% 2% 0px 2%;
    padding: 2%;
    width: 80%;
}

.article {
    float: left;
    width: 50%;

}

.new-article {
    float: right;
    width: 50%;
}
#articles {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#articles td, #articles th {
    border: 1px solid #ddd;
    padding: 8px;
}

#articles tr:nth-child(even){background-color: #f2f2f2;}

#articles tr:hover {background-color: #ddd;}

#articles th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}